body {
    margin: 0 auto;
    font-family: Roboto Mono, sans-serif;
}

nav {
    background-color: lightgray;
}

.navButton {
   display: inline-block;
   background-color: #333333;
   color: white;
   font-family: Helvetica, sans-serif;
   font-size: 12px;
   width:  100px;
   height: 50px;
   text-align: center;
   line-height: 25px;
}

#leftColumn {
    float: left;
    width: 30%;
    background-color: lightblue;
    height: 700px;
    text-align: center;
}

#buster {
    width: 200px;
    height: 150px;
}

.imageDiv {
    padding: 20px;
    height: 200px;
    background-color: orange;
}

.listDiv {
    background-color: red;
    padding: 20px;
    text-align: left;
}
#main {
    float: right;
    width: 70%;
    background-color: lightgreen;
    height: 700px;

}